.input {
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  border: 1px solid var(--gray);
  border-radius: 4px;
}

.input:focus {
  border: 1px solid var(--blue);
  outline: none;
}

.input_error {
  composes: input;
  border-color: var(--red);
}

.input_error:focus {
  border: 1px solid var(--red);
  box-shadow: 0 0 0 1px var(--red);
}

.errorMessage {
  color: var(--red);
  font-size: 10px;
}
