.input {
  padding: 6px 12px;
  font-size: 16px;
  border: 1px solid var(--gray);
  border-radius: 4px;
  flex-grow: 1;
}

.input:focus-visible {
  border: 1px solid var(--blue);
  box-shadow: 0 0 0 1px var(--blue);
  outline: none;
}

.input_error {
  composes: input;
  border-color: var(--red);
}

.input_error:focus-visible {
  border: 1px solid var(--red);
  box-shadow: 0 0 0 1px var(--red);
}

.errorMessage {
  color: var(--red);
  font-size: 10px;
}
