.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 24px;
}

.headerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.formWrapper {
  width: 100%;
  max-width: 600px;
  min-width: 280px;
  padding: 0 24px;
}
