.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

.submitButtonWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
