.labelWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.label {
  font-weight: 700;
}

.labelChip {
  font-size: 10px;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 16px;
  color: white;
}

.labelChip_required {
  composes: labelChip;
  background-color: var(--red);
}

.labelChip_optional {
  composes: labelChip;
  background-color: var(--gray);
}
