.button {
  min-width: 200px;
  padding: 8px;
  color: white;
  background-color: black;
  border-radius: 100vh;
  font-size: 16px;
  font-weight: 700;
}

.button:hover {
  background-color: #3e3e3e;
}

.button_filled_large {
  composes: button;
}

.button_filled_small {
  composes: button;
  min-width: 100px;
  padding: 6px;
  font-size: 12px;
}

.button_outlined_large {
  composes: button;
  color: black;
  background-color: transparent;
  border: 1px solid black;
}

.button_outlined_large:hover {
  background-color: #f2f2f2;
}

.button_outlined_small {
  composes: button_outlined_large;
  background-color: transparent;
  min-width: 100px;
  padding: 6px;
  font-size: 12px;
}
