.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
}

.contentWrapper p {
  font-size: 12px;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
